<table>
    {{#if IS_VISIBLE }}
        <tr>
            <td style='width: 25%; vertical-align: top'>
                <div>
                    <div><span>Available Items</span></div>
                    <ul style='min-height: 200px; padding-left: 5px; padding-right: 5px;'>
                        {{#each CONTROL_LAYOUT_EDITOR_ITEM_AVAILABLE_ITEMS }}
                            {{partial "availablepartial" this}}
                        {{/each}}
                    </ul>
                </div>
            </td>
            <td style='width:75%; vertical-align: top'>
                <div>
                    <div><span>Drop Area</span></div>
                    <ul style='min-height: 200px; padding-left: 5px; padding-right: 5px;'>
                        {{#each CONTROL_LAYOUT_EDITOR_ITEM_CHILD_ITEMS }}
                            {{partial "droppartial" this}}

                        {{/each}}
                    </ul>
                </div>
            </td>
        </tr>
    {{/if}}
</table>