<li class="ui-body-a drop-item"><span class="ui-bar-c {{ CONTROL_LAYOUT_EDITOR_ITEM_TYPE }}">{{ CONTROL_LAYOUT_EDITOR_ITEM_IDENTIFIER }}</span>
    {{#ifCond CONTROL_LAYOUT_EDITOR_ITEM_TYPE "===" "CONTROL_LAYOUT_EDITOR_ITEM_TYPE_GROUP"}}
        <ul style='min-height: 200px; padding-left: 5px; padding-right: 5px;' class="ui-shadow-inset ui-body-a drop-area">
            {{#each CONTROL_LAYOUT_EDITOR_ITEM_CHILD_ITEMS }}
                {{partial "droppartial" this}}
            {{/each}}
        </ul>
    {{/ifCond}}
</li>