<li class="ui-body-a drop-item ui-bar-{{#ifCond CONTROL_LAYOUT_EDITOR_ITEM_TYPE "===" "CONTROL_LAYOUT_EDITOR_ITEM_TYPE_GROUP"}}b{{else}}c{{/ifCond}}">
    <div style="width: 100%">
        <span {{#ifCond CONTROL_LAYOUT_EDITOR_ITEM_TYPE "===" "CONTROL_LAYOUT_EDITOR_ITEM_TYPE_GROUP"}}
        data-numcols="{{ CONTROL_LAYOUT_EDITOR_ITEM_NUMBER_OF_COLUMNS }}"
        {{/ifCond}}
        class="layouteditor-label {{ CONTROL_LAYOUT_EDITOR_ITEM_TYPE }}">
            {{ CONTROL_LAYOUT_EDITOR_ITEM_IDENTIFIER }}
        </span>
    </div>
</li>