<!-- <div class="footer-ripped"></div> -->

<!--<div data-role="navbar" data-id="footer">-->
    <!--<ul>-->
        <!--<li class="nav-wrap"><a id="home-navbar-link"  data-theme="c" data-iconpos="top" data-icon="homepage" href="#home" {{#ifCond selectedhash "===" "#home"}} class="ui-btn-active" {{else}} {{#ifCond selectedhash "===" ""}} class="ui-btn-active" {{/ifCond}} {{/ifCond}}>Home</a></li>-->
    <!--</ul>-->
<!--</div>-->

<div><h1>&copy; 2013 AM Interfaces, Inc.</h1></div>