<div data-role="panel" id="menupanel" data-theme="b"></div>

<div data-role="header" data-position="fixed">
    <div class='ui-btn-left'>
         <a id="panel-toggle" data-role="button" data-iconpos="notext"
            data-theme="b" data-icon="bars" class='ui-icon-nodisc'
            data-rel="panel"></a>
     </div>
    <h1>AM Interfaces, Inc.</h1>
    <div class="error page-error"></div>
</div>
<div data-role="content">
</div>
<!--<div data-role="footer" data-position="fixed">
    <h1>Footer</h1>
</div>-->